<p style="text-align: center;"><b>ANNEXURE D</b></p>
<p style="text-align: center;"><b>SUPPORT TERMS</b></p>
<span style="font-weight: 400;">Company shall provide support services in accordance with the terms of this Annexure, which may be amended from time to time by Company.</span>

1. Support Model

<span style="font-weight: 400;">Company will offer a standard support model with 24x5 online and email support Monday to Friday by leveraging follow the sun model. This should provide coverage for Customer’s global sites between Monday 12am Pacific to Friday 6pm Pacific time zone. Phone support is available for escalations and cases where the ticket remains unresolved after the target resolution time has passed. All support will be provided in English. This document describes the support model, SLAs and specific details of how Customer will be provided support for the global deployment of Services described in Annexure A.</span>

<i><span style="font-weight: 400;">L1 Support – Provided by Customer</span></i>
<ul>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">L1 Support will be provided by Customer’s local IT admin for facilities team for the basic user queries, training, access and monitoring for Exit door monitoring system.</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Training session will be recorded and videos and documentation will be provided for the local IT admin users for future use.</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">The training videos and centralized user guide will help the basic IP Camera Setup, Access and performance issues.</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Customer will use its internal ticket management system for the L1 support</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Camera installation and hardware issues will be handled by the Customer</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Camera malfunctions will be handled by the local IT team of the Customer; Company alerts for unreachable or inactive cameras will be shared with Customer’s assigned contacts</span></li>
</ul>
&nbsp;

<i><span style="font-weight: 400;">L2 Support – Provided by Company</span></i>
<ul>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">L2 Support will be provided by Company’s team, the issue will be reported in the Company helpdesk(</span><span style="font-weight: 400;">https://oloid.freshdesk.com/support/home)</span><span style="font-weight: 400;"> or by emailing </span><a href="mailto:support@oloid.ai"><span style="font-weight: 400;">support@oloid.ai</span></a></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">The incident management tickets will be raised by the local IT Admin, after initial assessment for basic issues. Setup, Access, and performance issue which are not resolved by common documentation. Any site-specific calibration and hardware upgrades.</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Company will work with location IT and Facilities team for needed support for fixing the issue.</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">If any code change, config changes needed Company’s team will publish the timeline and if applicable any alternate solution approach.</span></li>
</ul>
&nbsp;

<i><span style="font-weight: 400;">L3 Support – Provided by Company</span></i>
<ul>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">L3 Support Tickets will be raised by business owners, centralized IT team, security and facilities team.</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">The issue is major process, config changes which has impact on multiple sites. System failure, performance issues at enterprise level.</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Incident management tickets created and assigned priority.</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Company’s team will setup a review session with Customer team for understanding issue.</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Company will do RCA, Change Management Log, update the incident ticket for resolution timeline.</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Customer’s configuration document will be updated and any process changes will be updated in centralized location for further reference.</span></li>
</ul>
&nbsp;

2. Creating/Logging Support Tickets

<span style="font-weight: 400;">All users and managers of the Company’s Software can directly access Company’s online knowledge base at </span><span style="font-weight: 400;">https://oloid.freshdesk.com/support/home</span><span style="font-weight: 400;">, including the latest installation guides, training materials and FAQs.</span>

<span style="font-weight: 400;">In addition, users can avail support from Company’s technical support team by the following means:</span>
<ul>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Ticket Center: To report a bug or unexpected behavior of the platform, end users (learners, managers) can raise a support ticket at the help site: </span><span style="font-weight: 400;">https://oloid.freshdesk.com/support/home</span><span style="font-weight: 400;"> .</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Email: Alternatively, users can directly get in touch with the Licensor Technical Support team, by sending an email to</span> <a href="mailto:support@oloid.ai"><span style="font-weight: 400;">support@oloid.a</span><span style="font-weight: 400;">i</span></a></li>
</ul>
<span style="font-weight: 400;">Once submitted a ticket number will be automatically assigned in an automated response email.</span>

<span style="font-weight: 400;">Subsequently, a technical specialist from the Company will directly get in touch with the user on the email address submitted in the ticket or through available contact options, within the applicable initial response time described in the SLA (service level agreement). Tickets submitted with non-business email will not ignored and not routed to Company’s support.</span>

&nbsp;

3. Accessing Support Resources and Self-Help

<span style="font-weight: 400;">Unlimited 24-hour Access to Company’s Support Web Site (</span><span style="font-weight: 400;">https://oloid.freshdesk.com/support/home)</span><span style="font-weight: 400;"> with the following features:</span>
<ul>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">FAQs, as available</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Online Knowledge Base, as available</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">On-line incident logging/ticket creation</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Articles and White papers</span></li>
</ul>
&nbsp;

4. Severity Levels and Response Times

<span style="font-weight: 400;">All support tickets and emails sent to Company’s technical support team are categorized into priority levels, according to the guidelines listed below. Please note that the descriptions below are guidelines and may not cover every possible condition or technical situation. Company’s technical support team reserves the right to assign or re-assign the severity level for the support tickets and emails based on reasonable judgement and guidelines below. In case the Customer would like to upgrade the severity level of a particular ticket, this can be done through a mutual discussion with the stakeholders of the Customer and Company.</span>

&nbsp;
<table>
<tbody>
<tr>
<td><b>Severity Level</b></td>
<td><b>Definition</b></td>
</tr>
<tr>
<td><span style="font-weight: 400;">P1</span></td>
<td><span style="font-weight: 400;">Critical production issue preventing all or most users from using Platform or a business-critical functionality, with no workaround available</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">P2</span></td>
<td><span style="font-weight: 400;">Major functionality is impacted or significant performance degradation is experienced by a large number of users, and no reasonable workaround is available</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">P3</span></td>
<td><span style="font-weight: 400;">System performance issue, task requests or bug affecting some users, with short-term workaround available</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">P4</span></td>
<td><span style="font-weight: 400;">Issues and requests without significant, immediate-term impact on system performance and / or acceptable workaround available</span></td>
</tr>
</tbody>
</table>
&nbsp;

<span style="font-weight: 400;">Customer is responsible for providing Company’s technical support team with all requested business information, logs, files, as well as allow remote access and admin access to their systems stance, if needed, to resolve any reported issue. Using Go-to-meeting, zoom or some other equivalent online mechanism (provided it is at no charge to the customer), Company’s customer support representatives may initiate secure, interactive, online sessions to diagnose, troubleshoot and solve support issues. Failure to provide such information and/or access may result in extended resolution times.</span>

&nbsp;

5. Service Level Agreement (SLA) for Support

<span style="font-weight: 400;">All support tickets and emails sent to Company’s technical support team are prioritized as per the First Response Time and Target Resolution Time below for the assigned Severity Level. All hours or days outlined in the table below should be read as business hours or business days. In the exceptional case where Company and the Customer have agreed to a different set of technical support protocol in the contract, this Service Level Agreement will be superseded by the definitions and SLA mentioned in the Agreement.</span>

&nbsp;
<table>
<tbody>
<tr>
<td><b>Severity Level</b></td>
<td><b>Description Summary</b></td>
<td><b>First Response Time</b></td>
<td><b>Target Resolution Time</b></td>
</tr>
<tr>
<td><b>P1</b></td>
<td>
<ul>
 	<li aria-level="1"><span style="font-weight: 400;">Completely loss of functionality at a large number</span> <span style="font-weight: 400;">end-points affected</span></li>
 	<li aria-level="1"><span style="font-weight: 400;">No work around</span></li>
 	<li aria-level="1"><span style="font-weight: 400;">High business impacting</span></li>
</ul>
</td>
<td><span style="font-weight: 400;">Within 2 hours</span> <span style="font-weight: 400;">from ticket submission</span></td>
<td><span style="font-weight: 400;">Within 24 hours</span> <span style="font-weight: 400;">from ticket submission</span></td>
</tr>
<tr>
<td><b>P2</b></td>
<td>
<ul>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Functionality impaired at a large number of endpoints or complete loss of functionality of one end- point</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Very difficult work around</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Medium business impact</span></li>
</ul>
</td>
<td><span style="font-weight: 400;">Within 6</span> <span style="font-weight: 400;">hours from ticket submission</span></td>
<td><span style="font-weight: 400;">Within 72 hours</span> <span style="font-weight: 400;">from</span> <span style="font-weight: 400;">ticket submission</span></td>
</tr>
<tr>
<td><b>P3</b></td>
<td>
<ul>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Non-time sensitive issue</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Work around available</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Low business impact</span></li>
</ul>
</td>
<td><span style="font-weight: 400;">2 business days</span> <span style="font-weight: 400;">from ticket submission</span></td>
<td><span style="font-weight: 400;">10 business days</span> <span style="font-weight: 400;">from ticket submission</span></td>
</tr>
<tr>
<td><b>P4</b></td>
<td>
<ul>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Acceptable work around</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Low $ risk</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Fix has low Cost/Benefit</span></li>
</ul>
</td>
<td><span style="font-weight: 400;">As</span> <span style="font-weight: 400;">determined</span> <span style="font-weight: 400;">by Company’s Technical Support team</span></td>
<td><span style="font-weight: 400;">As determined by Company’s Technical Support team with average resolution of 30 business days</span></td>
</tr>
</tbody>
</table>
&nbsp;

<i><span style="font-weight: 400;">Definitions</span></i>
<ul>
 	<li style="font-weight: 400;" aria-level="2"><b>First response time</b><span style="font-weight: 400;">: The timeframe within which the Company’s technical support team will respond to a support ticket or email sent by a user. The first response will typically provide an initial suggestion towards fixing the reported issue or request for additional information to help diagnose the reported issue better.</span></li>
 	<li style="font-weight: 400;" aria-level="2"><b>Target resolution time</b><span style="font-weight: 400;">: The timeframe within which the Company’s technical support team estimates to provide a resolution to the reported issue. Resolution is defined as an answer, solution, completed change request, or a workaround that resolves the reported issue.</span></li>
</ul>
&nbsp;
<ul>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">While Company will make all commercially reasonable efforts to resolve an issue within the target resolution time, there could be exceptional circumstances (usually attributable to factors outside Company’s direct control) resulting in the resolution time extending beyond the target resolution time mentioned above. In such situations, the technical support team will inform the user about the delay and work with them to control the impact as much as reasonably possible.</span></li>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">In a situation where a ticket is not resolved within the target resolution time, the last section of this document provides the procedure for escalation and resolution</span></li>
 	<li style="font-weight: 400;" aria-level="2"><b>Ticket submission</b><span style="font-weight: 400;">: Ticket submission is the event when an issue is reported by a user to Company’s technical support team by means of one of the available options described above</span></li>
 	<li style="font-weight: 400;" aria-level="2"><b>Closing of Ticket</b><span style="font-weight: 400;">: An open ticket will be marked as closed after the resolution/fix has been confirmed by Customer, over email or phone or on-site in person</span></li>
 	<li style="font-weight: 400;" aria-level="2"><b>Business Hours</b><span style="font-weight: 400;">: Company’s standard business hours for Support Services is Monday 12:00AM to Friday 6:00 PM Pacific Time Zone.</span></li>
</ul>
&nbsp;

6. Escalation Process and Phone Support

<span style="font-weight: 400;">For any ticket or issue that remains unresolved after the target resolution time has expired, an escalation can be raised with Company by emailing </span><a href="mailto:support@oloid.ai"><span style="font-weight: 400;">support@oloid.ai</span> </a><span style="font-weight: 400;">or by calling the support phone number, 24x7, 7 days a week in English. via a direct number or a US toll-free number provided by the Company. Verified escalations will automatically be upgraded to premium 24x7 support with the following SLA:</span>
<table>
<tbody>
<tr>
<td><b>Severity Level</b></td>
<td><b>Issue Resolution Plan Shared</b></td>
<td><b>Target Resolution Time</b></td>
</tr>
<tr>
<td><span style="font-weight: 400;">P1, P2</span></td>
<td><span style="font-weight: 400;">Within 2 hours from verification of escalation</span></td>
<td><span style="font-weight: 400;">Within 24 hours from verification of escalation</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">P3</span></td>
<td><span style="font-weight: 400;">Within 6 hours from verification of escalation</span></td>
<td><span style="font-weight: 400;">Within 72 hours from verification of escalation</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">P4</span></td>
<td><span style="font-weight: 400;">1 business day from verification of escalation</span></td>
<td><span style="font-weight: 400;">Within 5 business days from verification of escalation</span></td>
</tr>
</tbody>
</table>
&nbsp;
<p style="text-align: center;"><b>ANNEXURE E</b></p>
<p style="text-align: center;"><b>DATA PRIVACY ADDENDUM</b></p>
&nbsp;

<span style="font-weight: 400;">This Data Privacy Addendum (this “</span><b>Addendum</b><span style="font-weight: 400;">”) is attached and made part of the agreement between Customer and Company (the “</span><b>Agreement</b><span style="font-weight: 400;">”).</span>

<span style="font-weight: 400;">The following specific terms apply to all processing of Personal Information (</span><i><span style="font-weight: 400;">as defined below</span></i><span style="font-weight: 400;">) for the Customer as part of the Services provided under the Agreement.</span>

<span style="font-weight: 400;">Whereas, the Parties have entered into an Agreement;</span>

<span style="font-weight: 400;">Whereas, the Parties would like to further specify the data privacy principles that apply to the Agreement;</span>

<span style="font-weight: 400;">Now, therefore, in consideration of the rights and obligations set forth in the Agreement, which they acknowledge, the Parties agree as follows:</span>

<b>1. DEFINITIONS</b>

&nbsp;
<ul>
 	<li><span style="font-weight: 400;">Capitalized terms used but not defined in this Addendum will have the meanings assigned to them in the Agreement.</span></li>
 	<li></li>
 	<li><span style="font-weight: 400;">“</span><b>Business Contact Information</b><span style="font-weight: 400;">” is defined as name, job title, department name, company name, business telephone, mobile phone number (if used for business purposes between Company and Customer), business fax number, and business e-mail address.</span></li>
 	<li></li>
 	<li><span style="font-weight: 400;">"</span><b>CCPA</b><span style="font-weight: 400;">" is the California Consumer Privacy Act, Cal. Civ. Code §§ 1798.100 </span><i><span style="font-weight: 400;">et seq.</span></i></li>
 	<li></li>
 	<li><span style="font-weight: 400;">“</span><b>Personal Information</b><span style="font-weight: 400;">” means information that identifies, relates to, describes, is reasonably capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular individual. For clarity, Personal Information excludes Business Contact Information. For information covered by the CCPA, the above definition shall be subject to any applicable qualifications or exclusions contained in the CCPA.</span></li>
 	<li></li>
 	<li><span style="font-weight: 400;">"</span><b>Personal Information Request</b><span style="font-weight: 400;">" means a request from a consumer under the CCPA to exercise the right to know or right to delete.</span></li>
 	<li></li>
 	<li><span style="font-weight: 400;">“</span><b>Security Breach</b><span style="font-weight: 400;">” means an unauthorized acquisition or use of unsecured Personal Information that creates a substantial risk of identity theft or fraud against an individual. For clarity, a good faith acquisition of Personal Information by an employee or agent of Company is not a Security Breach unless such employee or agent uses or discloses the Personal Information in an unauthorized manner.</span></li>
</ul>
&nbsp;
<ul>
 	<li aria-level="1"><b>GENERAL</b></li>
</ul>
&nbsp;
<ul>
 	<li><span style="font-weight: 400;">This Addendum amends and supplements the Agreement between the Parties. The terms of this Addendum will apply to all processing of Personal Information in relation to the Services provided under the terms of the Agreement. The Company shall be deemed to be ‘service provider’ and the Customer a ‘business’ as understood in the CCPA.</span></li>
 	<li><span style="font-weight: 400;">Notices to the Company are to be delivered via e-mail to: </span><a href="mailto:legal@oloid.ai"><span style="font-weight: 400;">legal@oloid.ai</span></a></li>
 	<li><span style="font-weight: 400;">The Company shall carry out the Services and process Personal Information received from the Customer as set out in the Agreement or as otherwise notified in writing by the Customer to the Company during the Term of the Agreement.</span></li>
 	<li><span style="font-weight: 400;">With respect to a Personal Information Request, the Company shall to the extent legally permitted, promptly notify Customer if it receives a Personal Information Request. Taking into account the nature of the processing, Company shall assist Customer by appropriate technical and organizational measures, to the extent possible, for the fulfillment of Customer’s obligation to respond to a Personal Information Request, provided however, the Customer understands and acknowledges that the Company does not store any Personal Information in the course of discharging its obligations under the Agreement. Except to the extent required by applicable law, Company shall not respond to any such Personal Information Request without Customer’s prior written consent except to confirm that the request relates to Customer.</span></li>
</ul>
&nbsp;
<ul>
 	<li aria-level="1"><b>PERMITTED USES AND DISCLOSURES</b></li>
</ul>
&nbsp;
<ul>
 	<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Company shall use, disclose, and retain all Personal Information:</span></li>
</ul>
<ol>
 	<li style="list-style-type: none;">
<ol>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">As specifically authorized in the Agreement and this Addendum;</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Solely for the purpose of performing the Services described in the Agreement; and</span></li>
 	<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">In accordance with applicable laws.</span></li>
</ol>
</li>
</ol>
<ul>
 	<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Company shall not sell, rent, transfer, distribute, or otherwise disclose or make available any Personal Information to any third party without prior written permission from Customer, unless and to the extent required by law. Notwithstanding the foregoing, Company has the right to use third parties, including offshore entities who employ foreign nationals, as well as employees and contractors of Company’s affiliates and subsidiaries, who may also be foreign nationals, in performance of its obligations described in the Agreement, and Company has the right to disclose Personal Information to such third parties provided that such third parties are subject to confidentiality obligations similar to those between Company and Customer.</span></li>
</ul>
&nbsp;
<ul>
 	<li aria-level="1"><b>DATA SECURITY OBLIGATIONS</b></li>
</ul>
&nbsp;
<ul>
 	<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Company shall:</span></li>
</ul>
<ol>
 	<li style="list-style-type: none;">
<ol>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Implement a comprehensive information security program which includes commercially reasonable technical and administrative safeguards to protect the confidentiality of Personal Information that are no less rigorous than accepted security industry practices;</span></li>
 	<li></li>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Keep all Personal Information contained in any format (e.g., paper, computer system, and removable media) in a secure facility where access of unauthorized personnel is restricted;</span></li>
 	<li></li>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Install reasonably up-to-date firewall protection and operating system patches for files containing Personal Information on a system that is connected to the Internet;</span></li>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Install reasonably up-to-date versions of system security agent software which must include malware protection and reasonably up-to-date patches and virus definitions, or a version of such software that can still be supported with up-to-date patches and virus definitions, and is set to receive the most current security updates on a regular basis, on systems vulnerable to malware and containing or channeling access to systems containing Personal Information;</span></li>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Implement secure access control measures that:</span></li>
</ol>
</li>
</ol>
<ul>
 	<li style="list-style-type: none;">
<ul>
 	<li style="list-style-type: none;">
<ul>
 	<li><span style="font-weight: 400;">Restrict access to records and files containing Personal Information to those who need such information to perform their job’s duties; and</span></li>
 	<li><span style="font-weight: 400;">Assign unique identifications plus passwords, which are not vendor supplied default passwords, to each person with computer access that are reasonably designed to maintain the integrity of the security of the access controls;</span></li>
</ul>
</li>
</ul>
</li>
</ul>
<ol>
 	<li style="list-style-type: none;">
<ol>
 	<li><span style="font-weight: 400;">Use strong encryption in the following situations:</span></li>
</ol>
</li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="4"><span style="font-weight: 400;">When Personal Information is transmitted over a public network;</span></li>
 	<li style="font-weight: 400;" aria-level="4"><span style="font-weight: 400;">When Personal Information is stored on portable devices; and</span></li>
 	<li style="font-weight: 400;" aria-level="4"><span style="font-weight: 400;">When Personal Information is stored on removable media and that media is in transit between physical locations;</span></li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Provide ongoing employee training with respect to its information security program, the proper use of the computer security system, and the importance of Personal Information security;</span></li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Designate responsibility for maintaining Company’s comprehensive information security program;</span></li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Oversee its third-party companies by taking reasonable steps to select and retain third-party companies that are capable of maintaining security measures to protect Personal Information consistent with applicable laws;</span></li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Review the scope of its comprehensive security program at least once a year; and</span></li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Document responsive actions taken in connection with any incident involving a Security Breach, and mandatory post-incident reviews of events and actions taken, if any, in order to make changes in business practices relating to the protection of Personal Information.</span></li>
</ol>
&nbsp;
<ul>
 	<li aria-level="1"><b>OBLIGATIONS OF CUSTOMER</b></li>
</ul>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Customer is solely responsible for:</span></li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Ensuring that the processing of the Personal Information is in compliance with all applicable laws;</span></li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Ensuring that any consents required by law (including CCPA) and/or Customer policies and procedures for the collection, access, use, maintenance, and/or disclosure of the Personal Information have been obtained from each individual and entity (including without limitation consumers, business customers, and/or Customer employees and contractors) to whom the Personal Information relates.</span></li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">Establishing the applicable information security safeguards and associated policies for protecting Personal Information in its facilities. Customer must communicate the relevant safeguards and policies to Company with reasonable advance notice and in writing when Company provides services at a Customer facility or accesses Customer’s systems.</span></li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;"> It shall be the Customer’s duty to ensure that it does not share any personal information or sensitive personal data or information (as defined by applicable laws) of any individual who is a citizen of or is otherwise governed by laws of the EEA, United Kingdom or Switzerland.</span></li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="1"><b>MISCELLANEOUS</b></li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">No alteration, amendment, or modification of this Addendum will be valid unless in writing and signed by an authorized representative of both Parties.</span></li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">Any ambiguity in the terms of this Addendum will be resolved to permit Company or Customer to comply with applicable laws.</span></li>
</ol>
&nbsp;
<ol>
 	<li style="font-weight: 400;" aria-level="2"><span style="font-weight: 400;">This Addendum is the entire and complete agreement between the Parties with respect to the privacy and security of Personal Information and supersedes any other agreements, representations, or understandings whether oral or written. To the extent there are any inconsistencies between the terms of this Addendum and the terms of the Agreement, this Addendum will prevail. Notwithstanding the foregoing, for the sake of clarity, the limitation of liability set forth in the Agreement remains in full force and effect and applies to this Addendum.</span></li>
</ol>
&nbsp;
<ul>
 	<li aria-level="2"><span style="font-weight: 400;">For the sake of clarity, this Addendum will be subject to the choice of law and dispute resolution procedure set forth in the Agreement.</span></li>
</ul>
&nbsp;
<p style="text-align: center;"><b>ANNEXURE F</b></p>
<p style="text-align: center;"><b>Company Policy</b></p>
<p style="text-align: center;"><b>Ethical Standards &amp; Human Rights</b></p>
<span style="font-weight: 400;">Unless otherwise required or prohibited by law, Company warrants, to the best of its knowledge and belief, that in relation to its performance of this Agreement:</span>
<ol>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">it does not employ engage or otherwise use any child labor in circumstances such that the tasks performed by any such child labor could reasonably be foreseen to cause either physical or emotional impairment to the development of such child;</span></li>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">it does not use forced labor in any form (prison, indentured, bonded or otherwise) and its employees are not required to lodge papers or deposits on starting work;</span></li>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">it provides a safe and healthy workplace, presenting no immediate hazards to its employees. Any housing provided by Company to its employees is safe for habitation. Company provides access to clean water, food, and emergency healthcare to its employees in the event of accidents or incidents at Company's workplace;</span></li>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">it does not discriminate against any employees on any ground (including race, religion, disability or gender);  </span></li>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">it does not engage in or support the use of corporal punishment, mental, physical, sexual or verbal abuse and does not use cruel or abusive disciplinary practices in the workplace;</span></li>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">it pays each employee at least the minimum wage, or a fair representation of the prevailing industry wage, (whichever is the higher) and provides each employee with all legally mandated benefits;</span></li>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">it complies with the laws on working hours and employment rights in the countries in which it operates; </span></li>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">it is respectful of its employees right to join and form independent trade unions and freedom of association; and</span></li>
 	<li style="font-weight: 400;" aria-level="3"><span style="font-weight: 400;">it complies with the Anti-Bribery and Corruption Requirements as per applicable law</span></li>
</ol>
&nbsp;